
/* Reset Style */

*{
box-sizing: border-box;
margin: 0;
padding: 0;

 font-family: "Poppins", sans-serif;
}




/* Global Style */
.pos-rel{
    position: relative;
}
.marg-top{
    margin-top: 15%;
}
.d-flex{
    display:flex;
}
.black{
     color:#2A2A2A;
}
.white{
    color: white;
}
.container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
   
}

.text-center{
    text-align: center;
}
.teal{
  background-color:   #285E67;
}
.bg-gray{
    background-color: lightgray;
}
.green-border{
    position: relative;
    width:50px;
    height:50px;
    border-radius: 20%;
    background-color: #285E67;
    margin-bottom:3%;
}
.marg-bott{
    margin-bottom: 8%;
}
.leaf{
    position: absolute;
   
    color:aliceblue;
    
}
.d-flex{
    display: flex;

}

.padding{
    padding:8%;

}
.text-center{
    text-align: center;
}
/* Custom Style */
h1{
    font-size: 55px;
    font-weight: 600;
    width:100%;
   
   
}


.nav{
    justify-content: space-between;
}
.section2{
    margin-bottom:4%;
}
.footer{
    justify-content: space-around;
    padding:3%
}
.logo{
    margin-top:3%;
  

}
.list{
    justify-content: space-evenly;
    list-style: none;
    width:25%;
    margin-top: 3%;
    
}
.img-sec1{
   
    justify-content: space-between;
}
.intro{
    margin:5%;
}
.join{
    border: #e9ebeb solid 1px;
    margin-top: 3%;
color:white;
width:20%;
height:90%;
border-radius: 67px;
font-size: 18px;
padding:1%;
}
.h6{
    margin-top: 1%;
}
.left{
    margin-left: 2%;
   
}
.card1{
    width:30%;
    
    
}
.icon-foot{
  margin-top: 2%;
    font-size: 20px;
    
    margin-left: 3% ;}
.width{
    width:20%;

}
.foot-h{
    height:50%;
    margin-top:5%
}
.marg-left{
    margin-left:3%;
}
.img-abs{
    position: absolute;
    bottom:0%;
    left:70%;
}
.big-card{
    margin-left:auto;
    margin-right:auto;
    width:100%;

}
h2{
    text-align: center;
    font-size: 40px;
}
.shareet{
    font-size: 16px;
    margin-top:7%;
    text-align: center;
    margin-left: 7%;
}
.para{
    text-align: center;
    margin-top: 1%;
    margin-left:7%;
}
.bg{
    background-image: url(../images/tyler-lastovich-AVzByhROPbs-unsplash\ 1.png);
    width:100%;
    padding:20%;
    /* background-repeat: no-repeat; */
    margin-left: auto;
    margin-right: auto;
}
.bg-tran{
    background-color: transparent;
}
.pink-card{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCE2D7;
    position: absolute;
    padding:8%;
    left:16%;
    bottom:-10%;
    
}