*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* card1 */

.card{
    width:40%;
    padding:5%;
    background-color:lightcyan;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border:1px soild lightcyan;
    border-radius: 5%;
   
    border-left: 2% teal solid;
      position: relative;
       overflow: hidden;
       
}
.card h3{
    padding-bottom: 2%;
    position:relative;
    z-index:1;
}
.card p{
      position:relative;
    z-index:1;
}
.absolute{
    height:40px;
   transform: scale(4.5);
  
    position:absolute;
  border-radius: 50%;
  width:40px;
bottom:100%;
left:107%;
 transition-duration: 4s;
    background-color: teal; 
    /* transition-delay: 2s; */
}
.card:hover .absolute{
overflow:hidden;
  transform: scale(100);
}

/* card2 */
.card2{
    width:40%;
    padding:5%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border:1px solid rgba(13, 0, 0, 0.253);
    border-radius: 2%;
      position: relative;
      overflow: hidden;
       
}

.card2:hover{
    border-color: palevioletred;
}
.pink-abs{
background-color: palevioletred;
position: absolute;
width:30%;
height:200%;
top:-25%;
left:100%;
transition-duration: 0.5s;

}
.card2:hover .pink-abs{
    /* transform:skewX(10deg); */
transform: scale(100);
transform: rotate(-10deg);



}
.card3{
    width:40%;
    
}
.white-c1{
    width:300px;
    height:300px;
    border: solid lightblue;
    
         transform: translateY(-304px);
    z-index: 1;
background-color: lightblue;
  
}
.text-c{
    text-align: center;
    margin-top: 90%;
   
}
.flex{
    display: flex;
    justify-content: space-around;
}
.img{

     position: relative;
       z-index: 2;
    transition-duration: 0.5s;
}
.card3:hover img{
     transform: translate(-50px, -50px);
}
.c-black{
color:dimgray;
}
.margin-auto{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
.big{
    font-size:15px;
}