/* Reset style*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}




/* Global Style*/




.float-left {
    float: left;
}

.float-right {
    float: right;
}
.clear {
    clear: both;
}
.section

.container{

    width: 80%;
   margin:auto;
  padding-left: 30%;
   padding-bottom: 10%;
        padding-top: 10%;
}
.bg{
     background-image: url(../images/old-war-office-london-AP.webp);
    
     margin:auto;
    
     background-position: top right;
     background-repeat: no-repeat;
     background-size: 100% 100%;
}
.special{
    text-transform: uppercase;
   
}
h1{
    color:orange;
    margin-bottom: 3%;
     font-size: 50px;
     text-transform: uppercase;
     
}
h2{
    margin-bottom: 5%;
     text-transform: uppercase;
     color:white;
    font-size: 30px;

    
}
hr{
    border: 1px white solid;
    width:10%;
 margin-bottom: 4%;
    
}
    h6{
        color:white;
        margin-bottom: 3%;
        padding:2%;
        font-size:15px;
       
    }
.btn{
     padding:1% 3% 1% 3%;
     background-color: transparent;
     font-weight: 600;
     color:white;
     border:white 2px solid;
     margin-top: 3%;
    }
    .padding{
        padding-bottom: 10%;
        padding-top: 10%;

    }
    .list{
        text-align: right;
        color:white;
        display: inline-block;
        margin-left: 30%;
        width: 40%;
    }
    .bg-dark{
width:100%;
background-color: black;
height:10%;
    }
.dis{
    display: inline-block;
      padding:2%;
   
}
.a{
    text-decoration: none;
    color:white;
}
.align{
    text-align: left;
    display: inline-block;
    margin-top: 2%;
    padding-left: 4% ;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.682);
}
.padd{
    padding-left:5%;
}
.input{
    margin: 4%;
    width: 100%;
   
}
.p{
    padding:2%;
    margin:2%;
    border:0%;
    border-bottom: 2px solid black;
    
}
.title{
    background-color: gray;
    color:black;
    padding:2%;
    font-size: medium;
    width:100%;
    font-size:15px;
}
.back{
    background-color: white;
    width:50%;
}